* {
  /* outline: 1px solid limegreen !important; */
  /* background: rgb(0 100 0 / 0.1) !important; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: roboto;
  background-color: #373f43;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GROUP SELECTORS */

.header,
.hero {
  background-color: #1f2937;
  display: flex;
  width: 1200px;
  padding: 15px 175px;
}

h1,
.header-logo {
  color: #f9faf8;
}

p,
button,
.header-links {
  font-size: 16px;
  color: #e5e7eb;
}

/* HEADER */

.header {
  min-height: 60px;
  padding-bottom: 65px;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
}

ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  gap: 16px;
}

/* HERO */

.hero {
  gap: 36px;
  padding-bottom: 65px;
  align-items: center;
}

.hero-maintitle {
  font-size: 48px;
  font-weight: 900;
}

/* INFORMATION */

.information-header,
.info p {
  color: #1f2937;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  padding: 30px 0;
}

.information {
  background-color: white;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 65px;
}

.infos {
  display: flex;
  gap: 50px;
}

.info {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.infopic {
  height: 150px;
  width: 150px;
  border: 3px solid #3882f6;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* QUOTE */

.quote {
  width: 1200px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  color: #1f2937;
  width: 700px;
}

.quote-signature {
  font-weight: 900;
  margin-left: auto;
}

/* ACTION */

.action {
  width: 1200px;
  background-color: white;
  padding: 65px 0;
  display: flex;
  justify-content: center;
}

.action-wrapper {
  width: 700px;
  background-color: #3882f6;
  padding: 30px 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.action-text {
  color: #f9faf8;
}

.action-text-top {
  font-weight: 900;
}

.action-text-bottom {
  font-size: 12px;
}

/* FOOTER */

.footer {
  background-color: #1f2937;
  padding: 20px 0;
  width: 1200px;
  display: flex;
  justify-content: center;
}

/* BUTTONS */

button {
  background-color: #3882f6;
  width: 120px;
  font-weight: 700;
  border-style: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.button-top {
  margin-top: 10px;
}
.button-down {
  border: 1px solid white;
}
